.politeia-hl-table {
    width: 100%;
    border-collapse: collapse;
}

.politeia-hl-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.politeia-hl-table th,
.politeia-hl-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.politeia-hl-table th {
    cursor: pointer;
    background: #f5f5f5;
}


.politeia-hl-table .hl-text .hl-post-title,
.politeia-hl-table .hl-text .hl-date {
    display: block;
    font-size: 13px;
    opacity: 0.3;
    font-weight: 500;
}

.politeia-hl-table .hl-text .hl-highlight {
    display: block;
    font-size: 18px;
    margin: 4px 0;
    padding: 12px;
}

/* Style for note column */
.politeia-hl-table .hl-note {
    font-size: 18px;
}

/* Thin separator above date/time */
.politeia-hl-table .hl-date-separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 4px 0;
}

.hl-swatch.active {
    outline: 2px solid #000;
}

.hl-colors {
    padding-bottom: 10px;
}

.politeia-hl-filter .hl-colors {
    margin-left: auto;
}
